<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ edgeVar }}</title>
  @if(node_env().env === "production")
    {{ style(versioncss('main')) }}
  @else
    {{ style('dist/css/main') }}
  @endif
</head>
<body>
  {{{ startTag }}}
  {{ edgeVar }}
  @if(node_env().env === "production" || node_env().hmr === "false")
    {{ script(versionjs('app')) }}
  @else
    {{ script('http://localhost:8081/dist/js/app.js') }}
  @endif
</body>
</html>
